*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}





header{
  background-color: rgb(95, 210, 255);
  padding: 20px;
}

.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-center {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  list-style: none;
  
}


.nav-center a{
  color: white;
  text-decoration: none;
  margin: 10px
}


.form-container{
  background-color: rgb(95, 210, 255);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  border-radius: 10px;
  padding: 50px;
  width: 500px;
  height: 350px;
}

.form-container h2{
  color: white;
  text-align: center;
  font-size: 30px;
}


.form-group {
  margin: 10px ;
  outline: none;
  color: black;
}

.form-group input{
  display: block;
  outline: none;
}


input{
  color: black;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  font-size: 15px;
  color: white;
}

button{
  margin: auto;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 5px;
}

footer{
  padding: 30px;
  background-color: rgb(95, 210, 255);
  bottom: 0;
  position: absolute;
  width: 100%;

}

#username2{
  color: white;
}

.welcome-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  max-width: 600px;
  text-align: center;
}

/* ha be van lépve */
.welcome-success {
  background-color: #2e7d32; /* zöld */
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* ha nincs belépve */
.warning {
  background-color: #c62828; /* piros */
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}



.notfound-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 350px auto;
}

#welcome-msg{
  color: white;
  
}